<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Lista de Clientes</title>
    <style>
        .header-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .flex-row {
            display: flex;
            align-items: center;
        }

        .flex-row label {
            margin-right: 10px;
        }

        .flex-row input {
            margin-right: 10px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .header-container button {
            padding: 5px 10px;
            border: none;
            background-color: #4CAF50;
            color: #fff;
            border-radius: 3px;
            cursor: pointer;
        }

        .flex-row button:hover {
            background-color: #72df75;
        }

        .pagination {
            margin-top: 20px;
            text-align: center;
        }

        .pagination a,
        .pagination span {
            margin: 0 5px;
            padding: 5px 10px;
            text-decoration: none;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .pagination a {
            color: #007bff;
        }

        .pagination a:hover {
            background-color: #f0f0f0;
        }

        .pagination span.current {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }

        footer {
            text-align: center;
            margin-top: 40px;
            padding: 10px 0;
            border-top: 1px solid #ccc;
            font-size: 0.9em;
            color: #555;
        }
    </style>
</head>

<body>
    <h1>Lista de Clientes</h1>

    <div>
        <a href="/novo">
            <button>Novo Cliente</button>
        </a>
    </div>
    <div class="header-container">
        <form class="flex-row" action="/pesquisar" method="get">
            <label for="pesquisar">Pesquisar Cliente:</label>
            <input type="text" id="pesquisar" name="q" placeholder="Pesquisar por nome">
            <button type="submit">Pesquisar</button>
        </form>
        <a href="/logout">
            <button type="button">Sair</button>
        </a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data/Nasc</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>Email</th>
                <th class="centralizado">Ações</th>
            </tr>
        </thead>
        <tbody>
            <% clientes.forEach(cliente=> { %>
                <tr>
                    <td>
                        <%= cliente.id %>
                    </td>
                    <td>
                        <%= cliente.nome %>
                    </td>
                    <td>
                        <%= cliente.nascimento %>
                    </td>
                    <td>
                        <%= cliente.cpf %>
                    </td>
                    <td>
                        <%= cliente.endereco %>
                    </td>
                    <td>
                        <%= cliente.telefone %>
                    </td>
                    <td>
                        <%= cliente.email %>
                    </td>
                    <td class="centralizado">
                        <form action="/editar/<%= cliente.id %>" method="get" style="display: inline;">
                            <button type="submit" class="editar">Editar</button>
                        </form>

                        <button type="button" class="excluir"
                            onclick="confirmarExclusao('<%= cliente.id %>')">Excluir</button>

                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <div class="pagination">
        <% if (currentPage> 0) { %>
            <a href="?page=<%= currentPage - 1 %><%= pesquisa ? '&q=' + pesquisa : '' %>">Anterior</a>
            <% } %>
                <% for (let i=0; i < totalPages; i++) { %>
                    <% if (i===currentPage) { %>
                        <span class="current">
                            <%= i + 1 %>
                        </span>
                        <% } else { %>
                            <a href="?page=<%= i %><%= pesquisa ? '&q=' + pesquisa : '' %>">
                                <%= i + 1 %>
                            </a>
                            <% } %>
                                <% } %>
                                    <% if (currentPage < totalPages - 1) { %>
                                        <a
                                            href="?page=<%= parseInt(currentPage) + 1 %><%= pesquisa ? '&q=' + pesquisa : '' %>">Próximo</a>
                                        <% } %>
    </div>


    <div id="modalConfirmacao" class="modal">
        <div class="modal-content">
            <p>Deseja excluir este cliente?</p>
            <button id="confirmar" class="excluir">Sim</button>
            <button id="cancelar">Não</button>
        </div>
    </div>

    <footer>
        Desenvolvido por Rafael Simas e Jorge Lucas
    </footer>

    <script>
        function confirmarExclusao(clienteId) {
            var modal = document.getElementById('modalConfirmacao');
            modal.style.display = 'block';
            var confirmar = document.getElementById('confirmar');
            confirmar.onclick = function () {
                var form = document.createElement('form');
                form.method = 'POST';
                form.action = '/excluir/' + clienteId;
                document.body.appendChild(form);
                form.submit();
            }

            var cancelar = document.getElementById('cancelar');
            cancelar.onclick = function () {
                modal.style.display = 'none';
            }
        }
        window.onclick = function (event) {
            var modal = document.getElementById('modalConfirmacao');
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
</body>

</html>